/*Darle color!*/
body {
  background-color: #d1eaee;
  color: black;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  color: #4e2d28;
  font-family: "Indie Flower", cursive;
  text-align:justify;
}
h1 {
  font: 1em sans-serif;
  color: blue;
  text-align: center;
}
h3{
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: 50px;
}

.dos {
  font: 1em sans-serif;
  color: brown;
}

.titulo {
  text-align: center;
  font-weight: 20000;
  font-size: 80px;
  font-family: "Kablammo", cursive;
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300 px;
}
.unoimg {
  width: 246px;
  display: flex;
  margin-left: 2%;
  border-radius: 20px;
}
.dosimg {
  width: 246px;
  display: flex;
  margin-left: 1%;
  border-radius: 20px;
}
a {
  color: #eb0258;
}
.contenedor2 {
  margin-top: 0%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
header {
    background-color: #eb0258;
    width: 100%;
    position: fixed;
    z-index: 10000;
	margin-right: 900px; /*aquí pones la mitad del ancho, en valor negativo*/
	top: 0px;
	right: -0.0.0%;
    left: 0%;
}
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }